<?xml version="1.0" encoding="UTF-8"?>
<OX>
  <OXMENU id="NAVIGATION_ESHOPADMIN">
      <MAINMENU id="mxextensions">
            <SUBMENU id="mxmodule" cl="module" list="module_list">
                <TAB id="ocb_markdown" cl="ocb_markdown" />
            </SUBMENU>
        </MAINMENU>
  </OXMENU>
</OX>