<?xml version="1.0" encoding="UTF-8"?>
<OX>
  <OXMENU id="NAVIGATION_ESHOPADMIN">
      <MAINMENU id="ocb_tourmanagement">
            <SUBMENU id="ocb_tourdates" cl="ocb_tourdates_admin" list="ocb_tourdates_admin_list">
                <TAB id="ocb_tourdates" cl="ocb_tourdates_admin_main" />
            </SUBMENU>
        </MAINMENU>
  </OXMENU>
</OX>